<ion-content  [fullscreen]="true">
  <ng-container *ngIf="(accountInfo$ | async) as acc">
    <form [formGroup]="userSettingsForm">
      <ion-item>
        <ion-label position="floating">{{'pseudonym' | translate}}</ion-label>
        <ion-input formControlName="sudoName" required autofocus></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{'language' | translate}}</ion-label>
        <ion-select multiple="false" formControlName="prefLanguage">
          <ion-select-option *ngFor="let lang of languages" value="{{lang.key}}">
            {{lang.value}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item (click)="imagePopover($event)">
        <ion-label>{{'picture' | translate}}</ion-label>
        <ion-thumbnail slot="end">
          <img class="pp" *ngIf="photoUrl$|async as p" src="{{ p }}" />
        </ion-thumbnail>
      </ion-item>
      <span class="hint" *ngIf="newPhotoUrl">{{'user_settings_form.help.save_changes' | translate}}</span>
      <ion-button color="success" expand="block" (click)="onSubmit(acc.id)">{{'user_settings_form.update_settings' | translate}}</ion-button>
    </form>
  </ng-container>
  <ion-footer style="text-align: center">
    <ion-note [innerHTML]="'user_settings_form.help.pseudonym' | translate"></ion-note>
  </ion-footer>
</ion-content>

