<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type=email formControlName="email" required autofocus></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type=password formControlName="password" required autofocus></ion-input>
    </ion-item>
    <ion-button color="success" expand="block" (click)="login()">Login</ion-button>
  </form>
</ion-content>
