::ng-deep ion-auto-complete {
    width: 100%;
    .loading input.searchbar-input {
        background: white;
    }
    
    ul li{
        padding: 0;
        border: 0;
        .userpic{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
}
.auto-label{
    transform: translateY(50%) scale(0.77);
    transform-origin: left top;
    margin-left: 1em;
    display: block;
    width: 100% !important;
    top: -5px;
    position: relative;
}