<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>Register</ion-title>-->
<!--    <ion-buttons slot="start">-->
<!--        <ion-buttons slot="start">-->
<!--            <ion-back-button (click)="back()"></ion-back-button>-->
<!--        </ion-buttons>-->
<!--    </ion-buttons>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
  <form [formGroup]="registerForm">
    <ion-item>
      <ion-label position="floating">Username (email)</ion-label>
      <ion-input formControlName="username" required autofocus></ion-input>
  </ion-item>
  <ng-container *ngIf="(registerForm.get('username').dirty || registerForm.get('username').touched)">
    <div class="form-error" *ngIf="registerForm.get('username').hasError('required')"><ion-icon name="alert-circle-outline"></ion-icon> The email is required.</div>
    <div class="form-error" *ngIf="registerForm.get('username').hasError('email')"><ion-icon name="alert-circle-outline"></ion-icon> The email must be valid.</div>
  </ng-container>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password" required autofocus></ion-input>
  </ion-item>
  <ng-container *ngIf="(registerForm.get('password').dirty || registerForm.get('password').touched)">
    <div class="form-error" *ngIf="registerForm.get('password').hasError('required')"><ion-icon name="alert-circle-outline"></ion-icon> The password is required.</div>
    <div class="form-error" *ngIf="registerForm.get('password').hasError('minlength')"><ion-icon name="alert-circle-outline"></ion-icon> The password must contain at least 8 characters.</div>
  </ng-container>
    <ion-item>
      <ion-label position="floating">Password confirmation</ion-label>
      <ion-input formControlName="passwordConfirm" type="password" required autofocus></ion-input>
  </ion-item>
  <ng-container *ngIf="(registerForm.get('passwordConfirm').dirty || registerForm.get('passwordConfirm').touched)">
    <div class="form-error" *ngIf="registerForm.get('passwordConfirm').hasError('required')"><ion-icon name="alert-circle-outline"></ion-icon> The password confirmation is required.</div>
    <div class="form-error" *ngIf="registerForm.hasError('differentPasswords')"><ion-icon name="alert-circle-outline"></ion-icon> The password and password confirmation must match.</div>  
  </ng-container>
  <ion-button color="success" expand="block" (click)="onSubmit()">Create account!</ion-button>
  </form>
</ion-content>
