<form [formGroup]="todoForm">
  <ion-item>
    <ion-label position="floating">Todo name</ion-label>
    <ion-input formControlName="name" required autofocus></ion-input>
  </ion-item>
  <ng-container *ngIf="(todoForm.get('name').dirty || todoForm.get('name').touched)">
    <div class="form-error" *ngIf="todoForm.get('name').hasError('required')"><ion-icon name="alert-circle-outline"></ion-icon> The todo name is required.</div>
  </ng-container>
  <ion-item>
    <ion-label position="floating">Todo description</ion-label>
    <ion-input formControlName="description"></ion-input>
  </ion-item>
  <ion-button color="success" expand="block" (click)="onSubmit()">{{ todo ? 'Update' : 'Create' }} Todo</ion-button>
</form>