<!--<ion-header>-->
<!--    <ion-toolbar>-->
<!--        <ion-buttons slot="start">-->
<!--            <ion-buttons slot="start">-->
<!--                <ion-back-button (click)="back()"></ion-back-button>-->
<!--            </ion-buttons>-->
<!--        </ion-buttons>-->
<!--        <ion-title *ngIf="todo | async"> {{ (todo | async)?.name }} ({{ (todo | async)?.isDone ? 'Done' : 'Not done'}})</ion-title>-->
<!--    </ion-toolbar>-->
<!--</ion-header>-->

<ion-content [fullscreen]="true">
    <ng-container *ngIf="todo | async">
        <form [formGroup]="todoDetailsForm">
            <ion-item>
                <ion-toggle formControlName="isDone" [disabled]="!canWrite"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{'todo_name' | translate}}</ion-label>
                <ion-input formControlName="name" required autofocus [disabled]="!canWrite"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{'description' | translate}}</ion-label>
                <ion-input formControlName="description" [disabled]="!canWrite"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{'address' | translate}}</ion-label>
                <ion-input formControlName="address" [disabled]="!canWrite"></ion-input>
            </ion-item>
            <ion-item button (click)="openMapUrl()" color="secondary" *ngIf="(distanceFromPosition$ | async) as dist">
                <ion-text>{{'todo_form.distance_from_location' | translate:{'dist':dist} }}</ion-text>
            </ion-item>
            <ion-button color="success" expand="block" (click)="onSubmit()" [disabled]="!canWrite">{{'todo_form.update_todo' | translate}}</ion-button>
        </form>
    </ng-container>
</ion-content>