<!--<ion-header>-->
<!--    <ion-toolbar>-->
<!--        <ion-buttons slot="start">-->
<!--            <ion-buttons slot="start">-->
<!--                <ion-back-button (click)="back()"></ion-back-button>-->
<!--            </ion-buttons>-->
<!--        </ion-buttons>-->
<!--        <ion-title *ngIf="todo | async"> {{ (todo | async)?.name }} ({{ (todo | async)?.isDone ? 'Done' : 'Not done'}})</ion-title>-->
<!--    </ion-toolbar>-->
<!--</ion-header>-->

<ion-content [fullscreen]="true">
<!--    <ion-button *ngIf="!(todo | async)" expand="block" fill="outline" (click)="back()">Back to list</ion-button>-->
    <ng-container *ngIf="todo | async">
        <form [formGroup]="todoDetailsForm">
            <ion-item>
                <ion-toggle formControlName="isDone" [disabled]="!canWrite"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Todo name</ion-label>
                <ion-input formControlName="name" required autofocus [disabled]="!canWrite"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Todo description</ion-label>
                <ion-input formControlName="description" [disabled]="!canWrite"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Todo address</ion-label>
                <ion-input formControlName="address" [disabled]="!canWrite"></ion-input>
            </ion-item>
            <ion-button color="success" expand="block" (click)="onSubmit()" [disabled]="!canWrite">Update Todo</ion-button>
        </form>
    </ng-container>
</ion-content>