<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title>-->
<!--      TODO Lists-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">TODO Lists</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->

  <ng-container>
    <ion-list>
      <ion-item-sliding *ngFor="let l of currentLists | async">
        <ion-item>
          <ion-label (click)="goToList(l)">
            {{ l.name }}
          </ion-label>
          <ion-note slot="end">
            <span *ngIf="l.owner && l.owner.id != currentUid">
                <ion-thumbnail class="thumb" (click)="toastSharerName(l.owner.sudoName)">
                  <img *ngIf="l.owner.photoUrl" [src]="l.owner.photoUrl" />
                  <ion-icon *ngIf="!l.owner.photoUrl" name="person-outline"></ion-icon>
                </ion-thumbnail>
              </span>
          </ion-note>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="primary" (click)="update(l)" [disabled]="(!l.owner || l.owner.id != currentUid) && !canWriteList(l)">
            <ion-icon slot="start" name="pencil"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteList(l)" [disabled]="(!l.owner || l.owner.id != currentUid) && !canWriteList(l)">
            <ion-icon slot="start" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-container>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="newListModal()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>